IndentWidth: 4
BreakBeforeBraces: Linux
SortIncludes: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
BinPackParameters: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
